NEXT_PUBLIC_APP_NAME='ntbipcom_3001'
NEXT_PUBLIC_APP_PORT='3001'
NEXT_PUBLIC_APP_ENV='local'
NEXT_PUBLIC_SITE='ntbip.com'
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME='NTB'

NEXT_PUBLIC_BASE_API_URL=
NEXT_PRIVATE_BASE_API_PUBLIC_KEY=

NEXT_PUBLIC_DEFAULT_LOCATION=gx
NEXT_PUBLIC_DEFAULT_LANG=en
NEXT_PUBLIC_DEFAULT_GLOBAL_LOCATION=gx
NEXT_PUBLIC_DEFAULT_GLOBAL_LANG=en
NEXT_PUBLIC_DEFAULT_CURRENCY=USD

NEXT_PUBLIC_LOAD_META_DATA=1
NEXT_PUBLIC_ENCRYPT_KEY='e.t.o.g'

NEXT_PUBLIC_RECAPTCHA_PROJECT_ID=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_RECAPTCHA_SECRET_KEY=

NEXT_PUBLIC_GOOGLE_MAP=
NEXT_PUBLIC_GOOGLE_LOGIN_KEY=
NEXT_PUBLIC_GOOGLE_SEARCH_API=

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PRIVATE_TURNSTILE_SECRET_KEY=

NEXT_PUBLIC_MAPBOX_TOKEN=

NEXT_PUBLIC_SERVER_DOMAIN=
NEXT_PUBLIC_SERVER_PORT=
