.style-scroll::-webkit-scrollbar {
  width: 10px !important;
  height: 52px !important;
}

.style-scroll::-webkit-scrollbar-track {
  background: #F3F3F3 !important;
  margin: 10px 0;
  border-radius: 10px !important;
}

.style-scroll::-webkit-scrollbar-thumb {
  background: #dddddd !important;
  border-radius: 10px !important;
  height: 10px;

}

.style-scroll::-webkit-scrollbar-thumb:hover {
  background: #acacac !important;
}

