@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
@layer base {
    :root {
        --primary: #0A4245;
        --black-1: #0D0D0D;
        --red-1: #C80013;
        --red-2: #FFF0E9;
        --error: #C80013;
        --blue-1: #E9F1FF;
        --blue-2: #3385FF;
        --orange-1: #FD7E14;
        --orange-2: #FFF1DE;

        --shadow-1: 0px 4px 12px 0px rgba(132, 132, 132, 0.20);
        --gradient-primary: linear-gradient(180deg, #028C47 0%, #74FFBA 100%);
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
        line-height: 1 !important;
    }
    body {
        font-size: 16px;
        font-weight: 400;
        color: var(--black);
        font-family: var(--font-primary);
        line-height: 1;
    }

    h1, h2, h3, h4 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1512px;
        padding: 0 16px;
    }
}

@layer utilities {
    .hover-text {
        @apply transition-all duration-200 relative after:content-[""] after:absolute after:-bottom-1 after:left-1/2 after:w-0 hover:after:w-full hover:after:left-0 hover:after:right-0 after:h-[1px] after:bg-white after:transition-all after:duration-300
    }

    .hover-text-footer {
        @apply transition-all duration-200 relative after:content-[""] after:absolute after:-left-1.5 after:top-1/2 after:h-0 hover:after:h-full hover:after:bottom-0 hover:after:top-0 after:w-0.5 after:bg-ad-gradient-primary after:transition-all after:duration-300
    }

    .text-gradient-primary {
        @apply bg-ad-gradient-primary text-transparent bg-clip-text
    }
}

@layer components {

}
